
<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Phishing Email Detection</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="static/assets/css/style-starter.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body id="home">
<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container-fluid pr-lg-0">
        <nav class="navbar navbar-expand-lg navbar-light">
            <h2><img src="static/assets/images/01.png" style="height:40px" /><font color="red">PHISHING</font> <font color="green">EMAIL</font> <font color="blue">DETECTION</font></a></h2>
            <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/userhome">{{data.1}}'s Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/mail">My Mail</a>
                  </li>      
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>                   
                    
                </ul>
            </div>
        </div>
        <img src="static/pic/01.jpg" style="width:100%" />
        </nav>
    </div>
      </header>
</section>

<script src="assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="assets/js/bootstrap.min.js"></script>
<!-- //bootstrap working-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>
<!-- disable body scroll which navbar is in active -->
<br />
<div class="container">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3 class="header-name editContent">
          What is phishing?
        </h3>
        <p class="tiltle-para editContent ">This technique is called phishing, and it’s a way hackers con you into providing your personal information or account data. Once your info is obtained, hackers create new user credentials or install malware (such as backdoors) into your system to steal sensitive data.</p>
        <p class="tiltle-para editContent ">Phishing emails today rarely begin with, "Salutations from the son of the deposed Prince of Nigeria..." and it's becoming increasingly difficult to distinguish a fake email from a verified one. But, most have subtle hints of their scammy nature. Here are seven email phishing examples to help you recognize a malicious email and maintain email security.</p>
   
      </div>
      <div class="col"><br />
        <img src="static/pic/ph1.jpg" style="width:100%" />
      </div>
      
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="static/pic/00.jpg" />
      </div>
      <div class="col">
        <h3>Who is a target of phishing scams?</h3>
        <p>
          These scams can target anyone, anytime. The aim and the precise mechanics of phishing scams vary: for example, victims might be tricked into clicking a link through to a fake web page with the aim of persuading the user to enter personal information. In this case the lure might be that you've won a prize, or a chance to grab a must-have special offer, or (oh the irony) a claim that your account has been hacked and you should login to take action. 
        </p>
        <h3>How does a phishing attack work?</h3>
        <p>
          A basic phishing attack attempts to trick a user into giving away personal details or other confidential information, and email is the most common method of performing these attacks. 

The sheer number of emails sent every single day means that it's an obvious attack vector for cyber criminals. Over 300 billion emails are sent every day -- and it's believed that at least three billion of these are malicious phishing emails. 
        </p>
      </div>
     
    </div>
  </div>
</div>
<section class="w3l-specification-6">
    <div class="specification-layout editContent">
      <div class="container">
        <div class="main-titles-head ">
             </div>
                <div class="call-grids-w3 d-grid">
                    <div class="grids-1 grids-effect">
                        <span class="fa fa-desktop"></span>
                        <h4><a href="" class="title-head">Text messages:</a></h4>
                        <p class="para">Here, an individual or a group of individuals send messages on your mobile pretending to be a trustworthy company. The messages lure the user with lucrative offers and trick people into sharing important financial details, in order to earn quick money. SMS phishing is also referred to as ‘Smishing’.</p>
                        <a href="" class="action-button btn mt-3">Read more</a>
                    </div>
                    <div class="grids-1 grids-effect-2">
                        <span class="fa fa-thumbs-o-up"></span>
                        <h4><a href="" class="title-head">Spam emails:</a></h4>
                        <p class="para">Here, you will receive an email that will be embedded with a link that will take you to a malicious website that can either ask for your email and password or install malware on your computer system. In either case, you will be leaking your data to a third party, who can misuse that information by tracking your internet footprint.</p>
                        <a href="" class="action-button btn mt-3">Read more</a>
                    </div>
                        <div class="grids-1 grids-effect">
                            <span class="fa fa-mobile"></span>
                            <h4><a href="" class="title-head">Call scams:</a></h4>
                            <p class="para">In this method, scammers, pretending to be from a legitimate company, call people using internet proxies. They extract personal information by promising lucrative deals on banks’ services and insurances. This is also referred to as ‘Vishing’.</p>
                            <a href="" class="action-button btn mt-3">Read more</a>
                        </div>
                        <div class="grids-1 grids-effect-2">
                            <span class="fa fa-money"></span>
                            <h4><a href="" class="title-head">Computer hijacking:</a></h4>
                            <p class="para">This occurs when someone has remote access to your computer. The scammer can exploit your computer by misusing your personal data. They can gain access to your social media and bank account.</p>
                            <a href="" class="action-button btn mt-3">Read more</a>
                        </div>  
              </div>
    </div>
</section>









  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class=" bottom-copies text-center">
		<p class="copy-footer-29">© 2020 Easy cash. All rights reserved | Designed by <a href="static/https://w3layouts.com">W3layouts</a></p>
	  </div>
	</div>
  </section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>
